@media screen and (min-width: 960px){
#pageBody {
    position: relative;
    width: 1440px;
    z-index: 0;
    top:49px;
    border-top: 0;
}
.img-stlye {
    height: 33px;
    top: 14%;
    width: 33%;
    margin-left: 33%;
    margin-right: 25%;
    position: absolute;
    text-align: center;
    z-index: 1;
}

.video-style {

    width: 100%;
    height: 100%;
}
    .img1 img-responsive{
    display:none;
}
#Mainbody1 {
    height: 55px;
    margin-top: 50px;
}

#Mainbody2 {
    height: 100px;
    margin-top: 10px;
    margin-right: 400px;
    margin-left: 400px;
}
.Mainbody3{
    height: 400px;
    margin-top: 10px;
    margin-right: 400px;
    margin-left: 400px;
}
.title-top {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.title-bottom {
    display: block;
    width: 100%;
    text-align: center;
}
.con {
    max-width: 1060px;
    max-width: 66.25rem;
    width: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}
.section-title {
    font-size: 30px;
    line-height: 1;
    text-align: center;
}

.section-description {
    text-align: center;
    margin: 1.875rem auto;
}
.btn-group {
    margin: 8px 22%;
    font-weight: normal;
    width: 100%;
}
.btn-group .btn-primary {
    margin-right: 5px;
    background: #c00;
    margin-right: 0.3125rem;
    text-decoration: none;
    color: #fff;
    padding: 12px 50px;
    font-size: 13px;
}
.section-description {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    font-family: "微软雅黑";
}
.btn-group .btn-secondary {
    background: #333;
    text-decoration: none;
    color: #fff;
    padding: 12px 70px;
    font-size: 13px;
}
.copyright {
    position: absolute;
    text-align: center;
    color: black;
    font-family: "微软雅黑", Verdana, Sans-serif;
    font-weight: lighter;
    bottom: 200px;
    vertical-align: middle;
    left: 300px;
}

.logo {

    margin-top: 12px;
    width: 100%;
    margin-left: 5px;
    position: absolute;
}

.text {
    display: inline-block;
    color: white;
    font-family: "微软雅黑", Verdana, Sans-serif;
    font-size: medium;
    font-weight: lighter;
}

a {
    color: white;
    text-decoration: none;
}

.gundong {
    position: relative;
    width: 1440px;
    height: 680px;
    margin-top: 80px
}

}